/*===Шрифты====*/
/* PT Root UI Regular*/
@font-face{
	font-family: "PT Root UI";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/PTRootUI-Regular.woff2") format("woff2"), url("../fonts/PTRootUI-Regular.woff") format("woff"), url("../fonts/PT-Root-UI_Regular.ttf") format("truetype");
	font-display: swap;
}
/* open-sans-bold */
@font-face{
	font-family: "PT Root UI";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/PTRootUI-Bold.woff2") format("woff2"), url("../fonts/PTRootUI-Bold.woff") format("woff"), url("../fonts/PT-Root-UI_Bold.ttf") format("truetype");
	font-display: swap;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
   outline: none;
}
a:focus,a:active{
   outline: none;
}
nav,footer,header,aside{
   display: block;
}
html,body{
	font-family: "PT Root UI";
	font-style: normal;
	font-weight: 400;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{
   font-family:inherit;
}
input::-ms-clear{
   display: none;
}
button{
   cursor: pointer;
}
button::-moz-focus-inner {
   padding:0;
   border:0;
}
a, a:visited{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
}
ul li{
   list-style: none;
}
img{
   vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
   font-size:inherit;
   font-weight: 400;
}
/*--------------------*/
.headline, .cards{
	display: flex;
	width: 75%;
	max-width: 1441px;
	padding-left: 1%;
	padding-right: 1%;
	margin: 10px auto;
}
.headline{
	justify-content:space-between;
}
.headline__section{
	font-family: "PT Root UI";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
}
.headline__button{
	display: flex;
}
.button__left{
}
.button__right{
}
.cards{
}
.card__wrap{
	flex: 0 1 15%;
	padding: 12px;
	height: 100%;
}
.card__frame{
	position: relative;
	border: 1px solid #EEEEEE;
	border-radius: 8px;
	margin-bottom: 8px;
}
.card__img{
	padding: 15px;
}
.card__wrap:hover{
	background: #FFFFFF;
	box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.card__gift{
	position: absolute;
	left: 5px;
	bottom: 35px;
}
.card__heart{
	position: absolute;
	left: 170px;
	bottom: 225px;
}
.card__interest{
	position: absolute;
	width: 110px;
	height: 25px;
	left: 0px;
	top: 217px;
	background: #1A1F24;
	border-radius: 0px 5px;
	font-family: "PT Root UI";
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content:center;
}
.card__interest span{
	padding-left: 3px;
	font-size: 12px;
	line-height: 1.3;
}
.card__prices{
	display: flex;
	align-items: center;
	line-height: 1.3;
}
.card__price{
	font-weight: 700;
	font-size: 18px;
}
.card__discount{
	position: relative;
	font-weight: 400;
	font-size: 16px;
	color: #64696E;
	padding-left: 10px;
}
.card__discount::before{
	content: "";
	position: absolute;
	border-bottom: 1px solid #64696E;
	width: 80%;
	height: 50%;
	transform: rotate(-7deg);
}
.card__prices img{
	padding-left: 65px;
}
.card__quantity{
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #64696E;
	margin-bottom: 8px;
}
.card__description{
	display: inline-block;
	line-height: 1.4;
	color: #64696E;
	font-size: 14px;
}
.description__link{
	color: inherit;
}
.description-wait{
	margin-bottom: 30px;
}
.description-not-available{
	margin-bottom: 37px;
}
.description__title{
	font-weight: 400;
	font-size: 16px;
	color: #1C1917;
}
.description__category{
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 8px;
}
.card__rating{
	margin-bottom: 10px;
}
.rating__list{
	display: flex;
	flex-direction: row;
	gap: 6px;
}
.rating__link {
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
	color: #64696E;
}
.rating-link__star{
	background-image: url('../img/icon/star.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.rating-link__comments{
	background-image: url('../img/icon/comments.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.card__button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	color: #1A1F24;
	border: 1px solid #1A1F24;
	border-radius: 8px;
	transition: background-color 0.3s ease 0s;
	margin-bottom: 8px;
}
.card__button:hover{
	background: #B91C1C;
	color: #f8f8f8;
}
.card__button:active{
	background: #1A1F24;
	color: #f8f8f8;
}
.card__button:disabled{
	background: #E6EBF0;
	color: #c2bfbf85;
}
.button__wait:active{
	background: #383D42;
	color: #f8f8f8;
}
.button__wait:hover{
	background: #383D42;
	color: #f8f8f8;
}
.button__wait:disabled{
	background: #E6EBF0;
	color: #c2bfbf85;
}
.card__delivery{
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	color: #69A042;
}
.button__not-available:active :hover{
	background: #383D42;
	color: #f8f8f8;
}
.button__not-available:hover{
	background: #383D42;
	color: #f8f8f8;
}
.button__not-available:disabled{
	background: #E6EBF0;
	color: #c2bfbf85;
}
/*...ПК......................*/
@media ( max-width: 1087px){
	.headline, .cards{
		width: 95%;
   }
}
/*...Планшет............*/
@media ( max-width: 991.98px){
	.headline {
		width: 60%;
   }
	.cards {
		overflow: hidden;
   }
}
/*...Мобильный тел............*/
@media ( max-width: 767.98px){
	.headline, .cards{
		width: 60%;
   }
}
@media ( max-width: 479.98px){
	.headline{
		width: 60%;
   }
	.cards{
		width: 75%;
   }
}
