

.container{

	
}

.title{
	margin: 20px 5px;
	display: flex;
	justify-content:space-between;
	max-width: 1441px;
}

.button__slider{
	display: flex;
	
}
.__previous{
	display: flex;
	justify-content: flex-end;

}

.__next{
	display: flex;
	justify-content: flex-start;
}
.title__section{
	font-family: "PT Root UI";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	display: flex;
	
}
.best-cards__container{
display:flex;
max-width: 1441px;




}
.best-card{
	margin: 12px;
	flex: 0 1 13%;
	width: 220px;

	

}

.best-card:hover{
	background: #FFFFFF;
	box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.best-card__general{
	padding: 10px;
	display:flex;
flex-direction: column;
}
.best-card__frame{
	position: relative;
	border: 1px solid #EEEEEE;
border-radius: 8px;
margin-bottom: 8px;

	
}

.best-card__img{
	
	padding: 15px;


}

.best-card__gift{
	position: absolute;
	left: 5px;
	bottom: 35px;
}

.best-card__heart{
	position: absolute;
	left: 180px;
	bottom: 225px;
}

.best-card__interest{
	position: absolute;
width: 110px;
height: 25px;
left: 0px;
top: 217px;
background: #1A1F24;
border-radius: 0px 5px;
font-family: "PT Root UI";
font-weight: 700;
font-size: 14px;
line-height: 1.4;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content:center;


}

.best-card__interest span{
	padding-left: 3px;
	font-size: 12px;
	line-height: 1.3;
}

.best-card__prices{
	display: flex;
align-items: center;
line-height: 1.3;
}

.best-card__price{
	font-weight: 700;
font-size: 18px;



}

.best-card__discount{
	position: relative;

	font-weight: 400;
font-size: 16px;
color: #64696E;
padding-left: 10px;

}
.best-card__discount::before{
	content: "";
	position: absolute;
	border-bottom: 1px solid #64696E;
	width: 80%;
	height: 50%;
	transform: rotate(-7deg);

}


.best-card__prices img{
padding-left: 65px;
}
._wait{
	margin-bottom: 15px;
}
.best-card__quantity{
	font-weight: 400;
font-size: 14px;
line-height: 1.4;
color: #64696E;
margin-bottom: 8px;
}

.best-card__description{
	display: inline-block;

	line-height: 1.4;
	color: #64696E;
	font-size: 14px;
	
}

.title__description{
	font-weight: 400;
	font-size: 16px;
	color: #1C1917;
}

.category__description{
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 8px;
}

.best-card__rating{
	display: flex;
flex-direction: row;
align-items: center;
gap: 6px;
line-height: 1.4px;
margin-bottom: 8px;
}

.rating__link{
	font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
color: #64696E;
gap: 6px;
}
.rating__star{
	background-image: url("../img/icon/star.svg");
}
.best-card__button{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;
font-size: 18px;
font-weight: 700;
line-height: 1.3;
color: #1A1F24;
border: 1px solid #1A1F24;
border-radius: 8px;
    transition: background-color 0.3s ease 0s;
	margin-bottom: 8px;
}
.best-card__button:active{
	background: #1A1F24;
color: #f8f8f8;
}

.best-card__button:hover{
	background: #B91C1C;
	color: #f8f8f8;
}
.best-card__button:disabled{
	background: #E6EBF0;
	color: #c2bfbf85;
}
.best-card__delivery{
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	color: #69A042;
	
}

/*...ПК......................*/
@media ( max-width: 1087px){
	
 }
 /*...Планшет............*/
 @media ( max-width: 991.98px){
	.title {

		max-width: 85%;
	}
	.best-cards__container{
		flex-wrap: wrap;
		
	}
	
 }
 /*...Мобильный тел............*/
 @media ( max-width: 767.98px){
	
 }
 @media ( max-width: 479.98px){

 }